@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient( #af8baa, #51aba475);
    }

    section#login {
        width: 90vw;
    }

    div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#fomulario {
        float: right;
        width: 65%;
    }
}

@media screen and (min-width: 992px) {
    section#login {
        width: 980px;
    }

    div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > p {
    font-size: 1.3em;
    }
}